@import "_variables";

.navbar {
  .navbar-default {
    margin-top: 0;
  }
}

.main{
  position: relative;
  flex: 1;
}

html, body {
  background: $body-color;
  height: 100%;
}

.page-wrapper{
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.page-footer {
  width: 100%;
  border: 1px solid #e7e7e7;
  background: #f8f8f8;
  padding: 10px 0;
  margin: 0;
}

.sensors-list {
  a {
    .glyphicon {
      vertical-align: middle;
    }
  }
}