@import "_helpers";

.thumbnail-presentation {
  padding: 0;
  box-shadow: 9px 12px 15px -2px rgba(0, 0, 0, 0.3);
  border: none;
  border-radius: 0;
  img {
    width: 100%;
    max-width: 100%;
  }
  .button-panel {
    button, a[role=button] {
      border-radius: 0;
      border: none;
    }
  }
}