<div class="container">
    <div class="row">
        <div class="col-sm-6">

            <p>
                Мы рады приветствовать Вас на нашем проекте! Спасибо что присоединились к нам!
            </p>
            <p>
                Что такое AIoTD? Это Веб-панель, которая позволит вам получать данные с Вашей системы домашних (и не
                только) датчиков, а так же управлять различными устройствами.
            </p>
            <p>
                Мы не ставили перед собой задачу собрать
                систему "УМНЫЙ ДОМ", мы предлагаем Вам удобное средство для контроля состояния своего дома, дачи, гаража
                и прочих помещений. Вы сами решаете какие датчики и устройства Вам нужны, какую логику они должны
                реализовывать и какую информацию Вы хотите получать.
                Вы ограничиваетесь только Вашей фантазией и возможностью платы!
            </p>

            <div class="panel panel-warning">
                <div class="panel-heading"><b>Внимание!</b></div>
                <div class="panel-body">
                    <p>
                        Данная система собирается из НЕПРОФЕССИОНАЛЬНЫХ ДАТЧИКОВ
                        и возлагать на неё большую
                        нагрузку и ответственность не желательно.
                        <p class="text-danger">Вы используете данные разработки на свой страх и риск!</p>
                    </p>
                </div>
            </div>

            <p>
                Проект динамично развивается и перед Вами альфа-версия будущего проекта.
            </p>

        </div>
        <div class="col-sm-6">
            <img src="/assets/images/guide/sensors.png" alt="">
        </div>
    </div>
</div>
