<!DOCTYPE html>
<!--[if lt IE 7]>
<html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>
<html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>
<html lang="en" ng-app="myApp" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html lang="en" ng-app="myApp" class="no-js"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Arduino IoT Dashboard</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/lib.min.css">
    <link rel="stylesheet" href="/css/app.min.css">
</head>
<body>

<!--[if lt IE 7]>
<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade
    your browser</a> to improve your experience.</p>
<![endif]-->

<div class="page-wrapper">
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                        data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#/">AIoTD</a>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li><a href="#/article/instructions">Быстрый старт</a></li>

                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#/location">Помещения</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="main" ng-controller="AppCtrl">
        <div class="container">
            <div class="row">
                <div class="col-sm-12" ng-controller="AlertCtrl">
                    <div ng-if="storage.getAlerts()">
                        <div ng-include="'/template/helpers/alert/alertTemplate.html'"></div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <h1>Arduino IoT Dashboard</h1>
                </div>
            </div>
        </div>
        <div ng-view></div>
    </div>
    <footer class="page-footer text-center container-fluid">
        &#174; AIoTD,
        Syargei Listapadau
        <a href="mailto:syargei.listapadau@gmail.com">syargei.listapadau@gmail.com</a>
    </footer>
</div>
<script src="/js/lib.min.js"></script>
<script src="/js/app.min.js"></script>

</body>
</html>
