<p>
    Для использования веб-панели \"Мой умный дом\" вам понадобится любой веб сервер. Расположите папку <b>web</b> в
    каталоге домена.
    Если на вашем домене каталог <b>web</b> не указан как корневой - вы можете изменить его название на любое другое.
</p>
<p>
    Краткое описание файлов настройки. Более полное описание можно найти на страницах соответствующих разделов

<table class="table table-responsive">
    <tr>
        <th>Название файла</th>
        <th>Описание</th>
    </tr>
    <tr>
        <td>app.js</td>
        <td>Содержит основные настройки приложения</td>
    </tr>
    <tr>
        <td>devices.js</td>
        <td>Содержит список и настройки устройств</td>
    </tr>
    <tr>
        <td>sensors.js</td>
        <td>Содержит список и настройки сенсоров</td>
    </tr>
    <tr>
        <td>location.js</td>
        <td>Содержит список локаций, которые подключены к веб-панели</td>
    </tr>
</table>
</p>

<p>
    Файл <b>app.json</b> содержит:
<pre>
{
    "settings": {
        "date_format": "HH:mm:ss yyyy-MM-dd",
        "query": {
            "delay": 3000
        }
    },
    "addresses": {
        "HAS": "",
        "HBS": "",
    }
}
</pre>
<ul>
    <li><b>settings</b> - содержит основные настройки приложения:</li>
    <li>
        <ul>
            <li><b>date_format </b>- формат даты в который будут приведены все даты приложения. По умолчанию "HH:mm:ss
                yyyy-MM-dd".
            </li>
            <li><b>query </b>- настройки запросов к HAS и HBS.</li>
            <li><b>delay </b>- задержка между запросами. Значение задаётся в мс. По умолчанию 3000.</li>
        </ul>
    </li>
    <li><b>settings</b> - содержит основные настройки приложения:</li>
    <li>
        <ul>
            <li><b>addresses </b> - список адресов связи с различными частями приложения:
            </li>
            <li><b>HAS</b> - HTTP Ardino Server, IP адрес сервера Ардуино. Используется в случае прямой связи.</li>
            <li><b>HBS </b> - HTTP Backend Server, адрес сервера обработки данных. Используется в штатном режиме работы
                приложения (в открытой версии проекта - не используется).
            </li>
        </ul>
    </li>
</ul>

</p>