<div>
    <p>
        <b>Локация</b> - это определённая територия, на которой распологаются датчики. Локации созданы для удобства
        группировки устройст и датчкиов.Arduino будет присылать данные только с тех датчиков, которые находятся на
        выбранной
        Вами локации.
    </p>
    <div class="panel panel-warning">
        <div class="panel-heading"><b>Внимание!</b></div>
        <div class="panel-body">
            <p>
                Вы можете расположить все датчики в одной локации, но в этом случае arduino будет
                присылать данные со всех сенсоров сразу. Это может вызвать зависание платы.
            </p>
        </div>
    </div>

    Пример оформления локации в файле <b>location.json</b>:
    <pre>
    [
        {
            "id": 1,
            "name": "Foo"
        },
        {
            "id": 2,
            "name": "Baz"
        }
    ]
    </pre>

    Каждая локация представленна в виде объекта. <b>id</b> локации должен быть уникальный и совпадать с
    <b>id</b> локации присвоенным в настройке датчика и в коде arduino.
    <ul>
        <li><b>id</b>- уникальный индификатор помещения или области.</li>
        <li><b>name</b> - название помещения или области.</li>
    </ul>
</div>