<div>

    <p>
        Датчики - это устройства, которые предают информацию о состоянии окружающей среды на веб-панель.
        Каждому датчику должен быть присвоен уникальный <b>id</b>. Такой же <b>id</b> необходимо присвоить и датчику в
        коде <b>Arduino</b>
    </p>
    <p>
        Пример оформления датчика в файле <b>sensors.json</b>:
    </p>
    <pre>
[
  {
    "id": 1,
    "name": "Звук",
    "type": "bool",
    "location": 1,
    "data": null,
    "update_at": null,
    "validate": {
      "indicators": [
        [
          "success",
          false
        ],
        [
          "danger",
          true
        ]
      ]
    },
    "system": {
      "alertClass": "default",
      "connection": false
    }
  },
  {
    "id": 2,
    "name": "Температура",
    "class": "",
    "type": "number",
    "location": 2,
    "data": null,
    "update_at": null,
    "validate": {
      "min": 5,
      "max": 50,
      "indicators": [
        [
          "danger",
          0,
          24
        ],
        [
          "success",
          25,
          39
        ],
        [
          "danger",
          40,
          60
        ]
      ]
    },
    "system": {
      "alertClass": "default",
      "connection": false
    }
  }
]
    </pre>
    <ul>
        <li><strong>id</strong> - уникальный индификатор датчика.</li>
        <li><strong>name</strong> - название датчика.</li>
        <li><strong>type</strong> - тип данных датчика. На данный момент реализовано:
            <ul>
                <li><em>bool</em> - булево значение;</li>
                <li><em>number</em> - целое, не отрицательное число;</li>
            </ul>
        </li>
        <li><strong>location</strong> - уникальный индификатор локации, к которой принадлежит датчик;</li>
        <li><strong>data</strong> - данные, полученные с <em>HAS</em> или <em>HBS</em>;</li>
        <li><strong>update_at</strong> - время последнего обновления данных;</li>
        <li><strong>validate</strong> - правила валидации данных:
            <ul>
                <li><strong>min</strong> - минимальное ожидаемое значение;</li>
                <li><strong>max</strong> - максимальное ожидаемое значение;</li>
                <li><strong>indicators</strong> - пороги индикации секции данных датчика в зависимости от полученных
                    значений.
                    Разрешено указывать классы хелперы <em>bootstap3</em>. Значения массивов должно быть следующим:
                    <ul>
                        <li>0 - название класса хелпера;</li>
                        <li>1 - минимальный порог;</li>
                        <li>2 - максимальный порог;</li>
                    </ul>
                    В случае, если ожидается булево значение указываеся только класс хелпера и значение (см. пример)
                </li>
            </ul>
        </li>
        <li><strong>system</strong> - системные свойства объекта:
            <ul>
                <li><strong>alertClass</strong> - текущий класс хелпер, который используется секцией датчика;</li>
                <li><strong>connection</strong> - состояние соединения с датчиком;</li>
            </ul>
        </li>

    </ul>
</div>