<div>

    <p>
        Устройство - это механизм для выполнения определённой задачи. К таким задачам может относиться выключение света,
        подачи воды, открытие и закрытие окон и т.д. С помощью веб-панели можно управлять устройством любой сложности
        при его граматном подключении и составлении логики обработки запроса
        Как и в случае датчика, каждому устройству должен быть присвоен уникальный <b>id</b>. Такой же <b>id</b>
        необходимо присвоить и в
        коде <b>Arduino</b>
    </p>
    <p>
        Устройства настраиваются таким же образом, как и датчики. Файлом для настроек является <b>devices.json</b>.
    </p>

</div>