<div>
    <p>
        Arduino Server создан на базе плат <b>Arduino Uno R3</b> и <b>Ethernet Shield W5100</b>.
        Вы можете использовать и другие совместимые платы.
    </p>
    <div class="panel panel-warning">
        <div class="panel-heading"><b>Внимание!</b></div>
        <div class="panel-body">
            <p>
                Тестирование на других платах не проводилось
            </p>
        </div>
    </div>
    <p>
        Скачать скетч Вы можете по адресу <a target="_blank"
                                             href="https://bitbucket.org/Jluct/arduino-base-sensors/src/master/">https://bitbucket.org/Jluct/arduino-base-sensors/src/master/</a>.
        Скетч, в зависимости от кол-ва датчиков и устройств занимает примерно следующие объёмы памяти:
    <pre>
        <samp>
        Device: atmega328p

        Program:   15516 bytes (47.4% Full)
        (.text + .data + .bootloader)

        Data:        784 bytes (38.3% Full)
        (.data + .bss + .noinit)
        </samp>
    </pre>

    Данные объёмы указаны при наличии 5 датчиков и 2 устройств.
    </p>
    <div class="panel panel-danger">
        <div class="panel-heading"><b>Внимание!</b></div>
        <div class="panel-body">
            <p>
                Данный выпуск не предназначен для работы вне локальной сети! Данные передаются GET запросом, что не
                небезопасно
            </p>
        </div>
    </div>
</div>