<div class="thumbnail thumbnail-presentation">
    <img src="{{card.image}}" alt="">
    <div class="caption">
        <h3>{{card.title}}</h3>
        <div>
            {{card.data}}
        </div>
    </div>
    <div class="button-panel" ng-if="card.href">
        <div class="row no-margin-padding">
            <div class="col-sm-12 no-margin-padding">
                <a role="button" href="{{card.href}}" class="btn btn-primary btn-block btn-lg">{{card.button}}</a>
            </div>
        </div>
    </div>
</div>