<div class="form-inline">
    <div class="form-group">
        <label for="form-number-{{item.id}}">Switch</label>
        <div class="input-group">
            <switch id="form-number-{{item.id}}" ng-model="item.data" name="device-{{item.id}}" class="green" on="On"
                    off="Off"></switch>
            <!--<div class="input-group-addon">{{item.data}}</div>-->
        </div>
    </div>
</div>
