<div class="form-inline">
    <div class="form-group">
        <label for="form-number-{{item.id}}">Enter number</label>
        <div class="input-group" >
            <input ng-model="item.data" type="number" value="" class="form-control" name="device-{{item.id}}"
                   id="form-number-{{item.id}}">
        </div>
    </div>
</div>