<div class="form-group">
    <label for="form-number-{{item.id}}">Switch</label>

    <div id="form-number-{{item.id}}"
         data-range-slider
         data-floor="item.validate.min"
         data-ceiling="item.validate.max"
         data-step="1"
         data-precision="2"
         data-highlight="left"
         data-ng-model="item.data"
    ></div>
    <span>{{item.data}}</span>
</div>