<div class="container">
    <div class="row">
        <div class="col-sm-3">
            <img class="article-img" src="{{article.image}}" alt="">
        </div>
        <div class="col-sm-9">
            <a href="#/article/instructions/" class="back-link-article">
                <span class="glyphicon glyphicon-arrow-left back-glif" aria-hidden="true"></span>Назад
            </a>
            <h1>
                {{article.title}}
            </h1>
            <p>
                {{article.preview}}
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12" >
            <ng-include src="article.template"></ng-include>
            <!--{{article.content}}-->
        </div>
    </div>
</div>

