<div class="container">
    <div class="row margin-top-30" ng-repeat="article in articles| orderBy: order">
        <div class="col-sm-2">
            <img class="article-img" src="{{article.image}}" alt="{{article.title}}" title="{{article.title}}">
        </div>
        <div class="col-sm-10">
            <h2><a href="#/article/instructions/{{article.id}}">{{article.title}}</a></h2>
            <p>
                {{article.preview}}
            </p>
        </div>
    </div>
</div>