<div class="container">
    <div class="row">
        <div class="col-md-2">
            <ul ng-controller="LocationCtrl" class="nav nav-pills nav-stacked">
                <li ng-repeat="item in locations|orderBy:id" role="presentation"
                    ng-class="$parent.storage.getLocation() == item.id?'active':''">
                    <a href="#/location/{{ item.id }}">
                        {{ item.name }}
                    </a>
                </li>
            </ul>
        </div>
        <div class="col-md-10" ng-if="!$parent.storage.getLocation()">
            <div ng-controller="PresentationCtrl" ng-include="'/template/presentation/presentation.html'"></div>
        </div>
        <div class="col-md-10" ng-if="$parent.storage.getLocation()">

            <uib-tabset justified="false">
                <uib-tab index="0" heading="Датчики">
                    <div ng-controller="SensorsCtrl">
                        <table class="sensors-list table table-bordered table-striped table-hover">
                            <tr>
                                <th>
                                    <a href="" ng-click="sortBy('name')">
                                        Name
                                        <span ng-if="propertyName == 'name'"
                                              ng-class="reverse?'glyphicon-triangle-top':'glyphicon-triangle-bottom'"
                                              class="glyphicon"
                                              aria-hidden="true"></span>
                                    </a>
                                </th>
                                <th>
                                    <a href="" ng-click="sortBy('update_at')">
                                        Last update
                                        <span ng-if="propertyName == 'update_at'"
                                              ng-class="reverse?'glyphicon-triangle-top':'glyphicon-triangle-bottom'"
                                              class="glyphicon"
                                              aria-hidden="true"></span>
                                    </a>
                                </th>
                                <th>
                                    <a href="" ng-click="sortBy('id')">
                                        ID Sensor
                                        <span ng-if="propertyName == 'id'"
                                              ng-class="reverse?'glyphicon-triangle-top':'glyphicon-triangle-bottom'"
                                              class="glyphicon"
                                              aria-hidden="true"></span>
                                    </a>

                                </th>
                                <th>
                                    Value
                                </th>
                            </tr>

                            <tr ng-repeat="item in sensors | orderBy:propertyName:reverse"
                                class="bg-{{ item.system.alertClass|needClass:item }}">
                                <td>
                                    {{ item.name }}
                                </td>
                                <td>
                                    <a ng-if="!item.system.connection" href="">
                                        <span uib-popover="Sensor readings not received"
                                              popover-trigger="'mouseenter'"
                                              class="glyphicon glyphicon-alert"
                                              aria-hidden="true">
                                    </span>
                                    </a>

                                    {{ item.update_at|date:$parent.storage.getDateFormat() }}
                                </td>
                                <td>{{ item.id }}</td>
                                <td>{{ item.data|dataType:item }}</td>
                            </tr>
                        </table>
                    </div>
                </uib-tab>
                <uib-tab index="1" heading="Управление" active>
                    <div ng-controller="DevicesCtrl">
                        <table class="table table-bordered table-striped table-hover">
                            <tr>
                                <th>Name</th>
                                <th>Last update</th>
                                <th>ID Sensor</th>
                                <th>Current value</th>
                                <th>Action</th>
                                <th>Send</th>
                            </tr>
                            <tr ng-repeat="item in devices">
                                <td>{{ item.name }}</td>
                                <td>
                                    <a ng-if="!item.system.connection" href="">
                                        <span uib-popover="Sensor readings not received"
                                              popover-trigger="'mouseenter'"
                                              class="glyphicon glyphicon-alert"
                                              aria-hidden="true">
                                    </span>
                                    </a>

                                    {{ item.update_at|date:$parent.storage.getDateFormat() }}
                                </td>
                                <td>{{ item.id }}</td>
                                <td>
                                    {{ item.actual_data }}
                                    <a ng-if="!item.actual_data" href="">
                                        <span uib-popover="Meaning is not known"
                                              popover-trigger="'mouseenter'"
                                              class="glyphicon glyphicon-question-sign"
                                              aria-hidden="true">
                                    </span>
                                    </a>
                                </td>
                                <td class="bg-{{ item.system.alertClass|needClass:item }}">
                                    <div ng-include="'/template/helpers/formWidget/included/form-'+item.type+'.html'"></div>
                                </td>
                                <td>
                                    <input class="btn btn-primary btn-block" ng-click="sendData(item)" type="submit">
                                </td>
                            </tr>
                        </table>
                    </div>
                </uib-tab>
            </uib-tabset>

        </div>
    </div>
</div>